#hauptteil {
	padding: 20px 0px 20px 0px;
	font-size: 1.5em;
	font-family: 'Devonshire', cursive;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Devonshire', cursive;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}
#menu {
	background: #347C2C;
	font-family: 'Gloria Hallelujah', cursive;
}
.mitte {
	margin: 0 30% 0 30%;
}
#menu li { 
	display: inline; 
	padding: 20px; 
}
#menu ul { 
	margin: 0px;
	padding: 20px 0px 20px 0px;
}
#menu a {
    text-decoration: none;
    color: white;
}
body, html {
	margin: 0px;
	padding: 0px;
	background: #E5E4E2;
}
.bild {
	width: 45%;
	height: 45%;
}